@page "/register"

@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserService service
@inject NavigationManager nav
@inject ProtectedSessionStorage storage

<div class="regcontainer">
    <div class="registercontainer">
        <p>
            <label>Nome Completo</label>
            <input type="text" @bind-value="@name"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <p>
            <label>Repetir Senha</label>
            <input type="password" @bind-value="@repeatpassword"/>
        </p>

        <p>
            <label>Email</label>
            <input type="text" @bind-value="@email"/>
        </p>

        <p>
            <label>Cidade</label>
            <input type="text" @bind-value="@city"/>
        </p>

        <p>
            <label>País</label>
            <input type="text" @bind-value="@country"/>
        </p>

        <p>
            <label>Telefone</label>
            <input type="text" @bind-value="@phone"/>
        </p>

        <p>
            <label>Nome de Usuario</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <button onclick="@CreateAccount">
            Criar Conta
        </button>
    </div>
   
</div>


@code 
{
    private string name;
    private string password;
    private string repeatpassword;
    private string email;
    private string city;
    private string country;
    private string phone; 
    private string userId;
    private string loginError;

    public async void CreateAccount()
    {
        await service.Register(
            this.name, 
            this.userId,
            this.email,
            this.city,
            this.country,
            this.phone,
            this.password);

        this.name = ""; 
        this.userId = "";
        this.email = "";
        this.city = "";
        this.country = "";
        this.phone = "";
        this.password = "";

        this.StateHasChanged();

        nav.NavigateTo("/usuario");

    }

}    